/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: black;
  line-height: 1.2;
  color: #efefef;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4em;
}
.content {
  padding: 0 15px;
  width: 800px;
}

.footer {margin-top: 200px;}

.content p,
.sidebar p{
 font-family: 'Droid Sans', sans-serif;
}
.sidebar {
  padding: 20px;
  margin-top: 0px;
  width: 240px;
  background-color:black;
  opacity: .75;
  color: #efefef;
}

.sidebar  p, h3 {opacity:1;}
.sidebar h3 {
  margin: 0;
}
.content {
  float: left;
  margin-top: 80px;
}

.sidebar {float:right;}


/* The sticky */
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}